@model ProductViewModel;

<div class="d-flex justify-content-center">
    <div class="card shadow border-0 my-4 col-lg-10">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">@(Model.Product.ProductId == 0 ? "Create Product" : "Update Product")</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-10">
                    <form method="post" class="row" enctype="multipart/form-data">
                        <div class="border p-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input hidden asp-for="@Model.Product.ProductId" />
                            <input hidden asp-for="@Model.Product.ImagePath" />
                            <div class="form-floating py-2 col-12">
                                <input class="form-control border-0 shadow" asp-for="@Model.Product.Title" />
                                <label class="ms-2" asp-for="@Model.Product.Title"></label>
                                <span asp-validation-for="@Model.Product.Title" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <textarea class="form-control border-0 shadow h-auto" asp-for="@Model.Product.Description"></textarea>
                                <label class="ms-2" asp-for="@Model.Product.Description"></label>
                                <span asp-validation-for="@Model.Product.Description" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input class="form-control border-0 shadow" asp-for="@Model.Product.Auther" />
                                <label class="ms-2" asp-for="@Model.Product.Auther"></label>
                                <span asp-validation-for="@Model.Product.Auther" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input class="form-control border-0 shadow" asp-for="@Model.Product.ISBN" />
                                <label class="ms-2" asp-for="@Model.Product.ISBN"></label>
                                <span asp-validation-for="@Model.Product.ISBN" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <select class="form-select border-0 shadow" asp-items="@Model.Categories" asp-for="@Model.Product.CategoryId">
                                    <option disabled selected>Select category</option>
                                </select>
                                <label class="ms-2" asp-for="@Model.Product.CategoryId"></label>
                                <span asp-validation-for="@Model.Product.CategoryId" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input type="file" name="file" class="form-control border-0 shadow" />
                                <label class="ms-2" asp-for="@Model.Product.ImagePath"></label>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input class="form-control border-0 shadow" asp-for="@Model.Product.ListPrice" />
                                <label class="ms-2" asp-for="@Model.Product.ListPrice"></label>
                                <span asp-validation-for="@Model.Product.ListPrice" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input class="form-control border-0 shadow" asp-for="@Model.Product.Price" />
                                <label class="ms-2" asp-for="@Model.Product.Price"></label>
                                <span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input class="form-control border-0 shadow" asp-for="@Model.Product.Price50" />
                                <label class="ms-2" asp-for="@Model.Product.Price50"></label>
                                <span asp-validation-for="@Model.Product.Price50" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input class="form-control border-0 shadow" asp-for="@Model.Product.Price100" />
                                <label class="ms-2" asp-for="@Model.Product.Price100"></label>
                                <span asp-validation-for="@Model.Product.Price100" class="text-danger"></span>
                            </div>
                            <div class="row pt-4">
                                <div class="col-6 col-md-3">
                                    <a class="btn btn-outline-primary border form-control" asp-controller="Product" asp-action="Products">Cancel</a>
                                </div>
                                <div class="col-6 col-md-3">
                                    <button class="btn btn-primary form-control">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-2">
                    <img src="@Model.Product.ImagePath" width="100%" style="border-radius: 5px; border: 1px solid #bbb9b9" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
